<header class="navbar navbar-default navbar-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">UI Bootstrap</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="http://www.github.com/juliusakula/editor/" role="button" class="navbar-brand">NG-MD-Editor</a>
                    <li><a href="http://juliusakula.github.io/game/">Also a game I made</a></li>
                </ul>
            </nav>
            <nav class="hidden-sm hidden-md hidden-lg" collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <!-- this game doesnt work on mobile <a class="btn btn-link" style="margin-left: 10px;" href="http://juliusakula.github.io/game/">Also a game I made</a> -->
                    <p style="margin-left: 10px;">Example bootstrap menu</p>
                </ul>
            </nav>
        </div>
    </div>
</header>